method_request: DELETE _application/search_application/my-app/
alternatives:
  - language: Python
    code: |-
      resp = client.search_application.delete(
          name="my-app",
      )
  - language: JavaScript
    code: |-
      const response = await client.searchApplication.delete({
        name: "my-app",
      });
  - language: Ruby
    code: |-
      response = client.search_application.delete(
        name: "my-app"
      )
  - language: PHP
    code: |-
      $resp = $client->searchApplication()->delete([
          "name" => "my-app",
      ]);
  - language: curl
    code: 'curl -X DELETE -H "Authorization: ApiKey $ELASTIC_API_KEY" "http://localhost:9200/_application/search_application/my-app/"'
