# Specification definition owners
/specification/ml/** @elastic/ml-core @elastic/ml-ui

# Specification tooling owners
/.github/                   @elastic/devtools-team
/compiler/                  @elastic/devtools-team
/compiler-rs/               @elastic/devtools-team
/typescript-generator/      @elastic/devtools-team
/specification/_json_spec/  @elastic/devtools-team
/specification/_spec_utils/ @elastic/devtools-team
