# Overlays that are specific to the Elasticsearch OpenAPI document
overlay: 1.0.0
info:
  title: Overlays for the Elasticsearch OpenAPI document
  version: 0.0.1
actions:
  - target: '$.info'
    description: Add a document description and feedback link
    update:
      title: Elasticsearch API
      description: >
        ## Documentation source and versions
        
        This documentation is derived from the `main` branch of the [elasticsearch-specification](https://github.com/elastic/elasticsearch-specification) repository.
        It is provided under license [Attribution-NonCommercial-NoDerivatives 4.0 International](https://creativecommons.org/licenses/by-nc-nd/4.0/).
      x-doc-license:
        name: Attribution-NonCommercial-NoDerivatives 4.0 International
        url: 'https://creativecommons.org/licenses/by-nc-nd/4.0/'
      x-feedbackLink:
        label: Feedback
        url: https://github.com/elastic/docs-content/issues/new?assignees=&labels=feedback%2Ccommunity&projects=&template=api-feedback.yaml&title=%5BFeedback%5D%3A+
# Examples that apply only to the Elasticsearch OpenAPI document
  - target: "$.paths['/_features']['get']"
    description: "Add examples for get features operation"
    update:
      responses:
        200:
          content:
            application/json:
              examples:
                getFeaturesResponseExample1:
                  $ref: "../../specification/features/get_features/FeaturesApiResponseExample1.json"
  - target: "$.paths['/_features/_reset']['post']"
    description: "Add examples for reset features operation"
    update:
      responses:
        200:
          content:
            application/json:
              examples:
                resetFeaturesResponseExample1:
                  $ref: "../../specification/features/reset_features/ResetFeaturesResponseExample1.json"
 # Remove and annotate items that are not shown in Bump.sh due to depth limits  
  - target: "$.components['schemas']['ml._types:Datafeed'].properties.query"
    remove: true
  - target: "$.components['schemas']['ml._types:Datafeed'].properties"
    description: Re-add a simplified query object
    update:
      query:
        x-abbreviated: true
        type: object
        description: >
          The Elasticsearch query domain-specific language (DSL).
          This value corresponds to the query object in an Elasticsearch search POST body.
          All the options that are supported by Elasticsearch can be used, as this object is passed verbatim to Elasticsearch.
          By default, this property has the following value: `{"match_all": {"boost": 1}}`.
        externalDocs:
          url: https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl.html
          description: Query DSL