# Overlays that are specific to the Elasticsearch Serverless OpenAPI document
overlay: 1.0.0
info:
  title: Overlays for the Elasticsearch Serverless OpenAPI document
  version: 0.0.1
actions:
  - target: '$.info'
    description: Add a document description and feedback link
    update:
      title: Elasticsearch Serverless API
      description: >
        **Technical preview**  
        This functionality is in technical preview and may be changed or removed in a future release.
        Elastic will work to fix any issues, but features in technical preview are not subject to the support SLA of official GA features.

        ## Documentation source and versions
        
        This documentation is derived from the `main` branch of the [elasticsearch-specification](https://github.com/elastic/elasticsearch-specification) repository.
        It is provided under license [Attribution-NonCommercial-NoDerivatives 4.0 International](https://creativecommons.org/licenses/by-nc-nd/4.0/).
      x-doc-license:
        name: Attribution-NonCommercial-NoDerivatives 4.0 International
        url: 'https://creativecommons.org/licenses/by-nc-nd/4.0/'
      x-feedbackLink:
        label: Feedback
        url: https://github.com/elastic/docs-content/issues/new?assignees=&labels=feedback%2Ccommunity&projects=&template=api-feedback.yaml&title=%5BFeedback%5D%3A+
  # Temporarily mark all operations as beta
  - target: "$.paths[*]['get','put','post','delete','options','head','patch','trace']"
    description: Add x-beta
    update:
      x-beta: true


        