# summary:
method_request: PUT /_security/settings
description: Run `PUT /_security/settings` to modify the security settings.
# type: request
value: |-
  {
      "security": {
          "index.auto_expand_replicas": "0-all"
      },
      "security-tokens": {
          "index.auto_expand_replicas": "0-all"
      },
      "security-profile": {
          "index.auto_expand_replicas": "0-all"
      }
  }
alternatives:
  - language: Python
    code: |-
      resp = client.security.update_settings(
          security={
              "index.auto_expand_replicas": "0-all"
          },
          security-tokens={
              "index.auto_expand_replicas": "0-all"
          },
          security-profile={
              "index.auto_expand_replicas": "0-all"
          },
      )
  - language: JavaScript
    code: |-
      const response = await client.security.updateSettings({
        security: {
          "index.auto_expand_replicas": "0-all",
        },
        "security-tokens": {
          "index.auto_expand_replicas": "0-all",
        },
        "security-profile": {
          "index.auto_expand_replicas": "0-all",
        },
      });
  - language: Ruby
    code: |-
      response = client.security.update_settings(
        body: {
          "security": {
            "index.auto_expand_replicas": "0-all"
          },
          "security-tokens": {
            "index.auto_expand_replicas": "0-all"
          },
          "security-profile": {
            "index.auto_expand_replicas": "0-all"
          }
        }
      )
  - language: PHP
    code: |-
      $resp = $client->security()->updateSettings([
          "body" => [
              "security" => [
                  "index.auto_expand_replicas" => "0-all",
              ],
              "security-tokens" => [
                  "index.auto_expand_replicas" => "0-all",
              ],
              "security-profile" => [
                  "index.auto_expand_replicas" => "0-all",
              ],
          ],
      ]);
  - language: curl
    code:
      "curl -X PUT -H \"Authorization: ApiKey $ELASTIC_API_KEY\" -H \"Content-Type: application/json\" -d
      '{\"security\":{\"index.auto_expand_replicas\":\"0-all\"},\"security-tokens\":{\"index.auto_expand_replicas\":\"0-all\"},\"se\
      curity-profile\":{\"index.auto_expand_replicas\":\"0-all\"}}' \"http://localhost:9200/_security/settings\""
