name: Code style

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js 22
      uses: actions/setup-node@v5
      with:
        node-version: 22

    - name: Install
      run: |
        npm install --prefix compiler

    - name: Code style check
      run: |
        npm run format:check --prefix compiler

