name: Code style

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v5

    - name: Use Node.js 24
      uses: actions/setup-node@v6
      with:
        node-version: 24

    - name: Install
      run: |
        npm install --prefix compiler

    - name: Code style check
      run: |
        npm run compile:specification --prefix compiler
        npm run format:check --prefix compiler

