name: Compiler test

on:
  pull_request:
    paths:
      - 'compiler/**'

jobs:
  compiler-test:
    name: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5

      - name: Use Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Install deps
        run: |
          make setup

      - name: Test
        working-directory: ./compiler
        run: npm test
