name: Generate Output

on:
  push:
    branches:
      - 'main'
      - '7.17'
      - '8.[0-9]+'
      - '9.[0-9]+'

  # For debugging purposes:
  # pull_request:
  #   types: [opened, synchronize, reopened]
  #   branches:
  #     - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: false

defaults:
  run:
    shell: bash

permissions:
  id-token: write # To use the ephemeral token

jobs:
  build:
    runs-on: ubuntu-latest
    # Avoid running on forks and prevent infinite loop
    if: github.repository_owner == 'elastic' && github.actor != 'elasticmachine'
    steps:

    - name: Print GitHub Actor
      run: |
         echo "GitHub Actor: ${{ github.actor }}"

    - name: Fetch ephemeral GitHub token
      id: fetch-ephemeral-token
      uses: elastic/ci-gh-actions/fetch-github-token@v1.0.0
      with:
        vault-instance: "ci-prod"
        vault-role: "token-policy-6a6580bb0e7d"

    - name: Checkout
      uses: actions/checkout@v5
      with:
        token: ${{ steps.fetch-ephemeral-token.outputs.token }}
        persist-credentials: true

    - name: Setup Node 22
      uses: actions/setup-node@v5
      with:
        node-version: 22
        cache: npm
        cache-dependency-path: '**/package-lock.json'

    - name: Setup Dependencies
      run: |
        make setup

    - name: Generate Output
      run: |
        make compile
        make generate
        make transform-to-openapi
        make filter-for-serverless

    - name: Check for Changed Files
      id: changes
      run: |
        if [ -n "$(git status --porcelain ./output)" ]; then
          echo "has-changes=1" >> $GITHUB_OUTPUT
        fi

    - name: Set Git Identity
      if: steps.changes.outputs.has-changes == '1'
      run: |-
        git config --global user.email "elasticmachine@users.noreply.github.com"
        git config --global user.name "Elastic Machine"

    - name: Push Output
      if: steps.changes.outputs.has-changes == '1'
      run: |
        git add -A ./output
        git commit -m "Update specification output"
        git push

    # For debugging purposes:
    # - name: Push Output
    #   if: steps.changes.outputs.has-changes == '1'
    #   env:
    #     BRANCH_NAME: output_${{ github.run_id }}_${{ github.run_attempt }}
    #   run: |
    #     git fetch
    #     git switch main

    #     git add -A ./output
    #     git commit -m "Update specification output"
    #     git push origin HEAD:refs/heads/${{ env.BRANCH_NAME }}
