name: Linter

on: [pull_request]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js 22
      uses: actions/setup-node@v4
      with:
        node-version: 22

    - name: Install
      run: |
        npm install --prefix compiler
        npm install --prefix typescript-generator

    - name: Lint specification
      run: |
        npm run lint --prefix compiler

    - name: Lint typescript-generator
      run: |
        npm run lint --prefix typescript-generator

