name: Validate APIs

on:
  pull_request:
    paths:
      - 'specification/**'
      - '!specification/_types/**'
      - '!specification/_spec_utils/**'
      - '!specification/_doc_ids/**'
      - '!specification/_json_spec/**'

    branches:
      - main

jobs:
  validate-pr:
    name: build
    if: github.repository_owner == 'elastic' # this action will fail if executed from a fork
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          path: ./elasticsearch-specification

      - uses: actions/checkout@v2
        with:
          repository: elastic/clients-flight-recorder
          path: ./clients-flight-recorder
          token: ${{ secrets.PAT }}
          ref: dev

      - name: Use Node.js 16.x
        uses: actions/setup-node@v1
        with:
          node-version: 16.x

      - name: Install deps 1/2
        working-directory: ./clients-flight-recorder
        run: |
          npm install --prefix scripts/clone-elasticsearch
          npm install --prefix scripts/upload-recording
          npm install --prefix scripts/types-validator

      - name: Install deps 2/2
        working-directory: ./elasticsearch-specification
        run: |
          npm install --prefix .github/validate-pr
          make setup

      - name: Download artifacts
        working-directory: ./clients-flight-recorder
        run: |
          node scripts/upload-recording/download.js --branch 8.3
          node scripts/clone-elasticsearch/index.js --version 8.3-SNAPSHOT
        env:
          GCS_CREDENTIALS: ${{ secrets.GCS_CREDENTIALS }}

      - name: Remove previous comment
        uses: maheshrayas/action-pr-comment-delete@v1
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          org: elastic
          repo: elasticsearch-specification
          user: github-actions[bot]
          issue: ${{ github.event.number }}

      - name: Run validation
        working-directory: ./elasticsearch-specification
        run: node .github/validate-pr --token ${{ secrets.GITHUB_TOKEN }} --version 8.3-SNAPSHOT
